<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/img/ng-logo.png">
    <mat-card-title>Angular Material + MaterializeCSS</mat-card-title>
    <mat-card-subtitle>= BOOM!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/ng-material.jpeg">
  <mat-card-content>
    <p>
      This page is a test of Angular Material + MaterializeCSS. Please don't click the buttons below since they
      don't work.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="showSnackbar()">LIKE</button>
    <button mat-button (click)="showSnackbar()">SHARE</button>
  </mat-card-actions>
</mat-card>
